<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/stylesheets/carrinho.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
    <header>
        <nav id="navbar">
            <a href="/index"><img id="nav_logo" src="/images/logoviajebem.png" alt="logo"></a>
            <ul id="nav_list">
                <li class="nav-item active"><a href="/index#produtos">Produtos</a></li>
                <li class="nav-item"><a href="/index#sobre-nos">Sobre nós</a></li>
                <li class="nav-item"><a href="/index#contato">Contato</a></li>
            </ul>
            <a class="butao-cont" href="/login"><button class="btn-default">Login</button></a>
            <button id="mobile_btn"><i class="fa-solid fa-bars"></i></button>
        </nav>
        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item active"><a href="/index#produtos">Produtos</a></li>
                <li class="nav-item"><a href="/index#sobre-nos">Sobre nós</a></li>
                <li class="nav-item"><a href="/index#contato">Contato</a></li>
            </ul>
            <a class="butao-cont" href="/login"><button class="btn-default">Login</button></a>
        </div>
    </header>
    <script src="/javascripts/navbar.js"></script>


    <div class="agrupar">

        <div class="cont-produto">
            <h2 id="titulo_compra">Seu Pedido</h2>

            <div id="add"></div>
            <div id="add"></div>



        </div>

        <section class="cesta">
            <div class="card-compra">
                <div class="card-comprainfo">
                    <h3 id="titulo_carrinho">Recibo do Pedido</h3>
                    <p id="Subtotal"></p>
                    <p id="Frete"></p>
                    <p id="Total"></p>
                    <hr>
                    <a id="fina" href="/images/pix.jpg"><button onclick="finalizarPedido()">Finalizar pedido</button>
                    </a>
                </div>
            </div>

            <div class="buscarcep">
                <hr>
                <br>
                <label for="cepInput">Digite o CEP:</label>
                <input type="text" id="cepInput">
                <button onclick="buscarEndereco()">Buscar</button> <br>

            </div>
            <div class="resultado">
                <p id="endereco"></p>
            </div>

            <script src="/javascripts/cep.js"></script>
        </section>
    </div>
    <script src="/javascripts/passar-produto.js"></script>
    <footer>
        <p>&copy; 2024 Viaje Bem. Todos os direitos reservados.</p><br>
        <p>Desenvolvido por: Kevin Gabriel</p><br>
        <p>Contato: (75) 98351-2229</p>
    </footer>
    
</body>

</html>