<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vem de Viagem</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
    <header>
        <nav id="navbar">
            <a href="/index"><img id="nav_logo" src="/images/logoviajebem.png" alt="logo"></a>
            <ul id="nav_list">
                <li class="nav-item active"><a href="#produtos">Produtos</a></li>
                <li class="nav-item"><a href="#sobre-nos">Sobre nós</a></li>
                <li class="nav-item"><a href="#contato">Contato</a></li>
            </ul>
            <a class="butao-cont" href="/"><button class="btn-default">Login</button></a>
            <button id="mobile_btn"><i class="fa-solid fa-bars"></i></button>
        </nav>
        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item active"><a href="#produtos">Produtos</a></li>
                <li class="nav-item"><a href="#sobre-nos">Sobre nós</a></li>
                <li class="nav-item"><a href="#contato">Contato</a></li>
            </ul>
            <a class="butao-cont" href="/"><button class="btn-default">Login</button></a>
        </div>
    </header>
    <script src="/javascripts/navbar.js"></script>

    <input type="checkbox" id="toggle-banner" style="display:none;">
    <label for="toggle-banner">
        <img id="banner" src="/images/bannerpizza.png" alt="banner">
    </label>


    <section id="produtos">
        <h2 class="titulo">Produtos</h2><br>
        <a id="vermais" href="/carrinho"><i class="fa-solid fa-basket-shopping"></i></a>
        <div class="prod">
            <img class="imagprod" src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/0b/f6/2d/d1.jpg"
                alt="">
            <div class="container-prod">
                <h3 id="info-produto1">Santorine</h3>
                <div class="preco-produto1">R$ 4500,00</div>
                <button class="adc-butao" onclick="selecionarprod('produto1')">Adicionar</button>
            </div>
        </div>

        <div class="prod">
            <img class="imagprod" src="https://irp.cdn-website.com/e650cfd8/dms3rep/multi/thumb_orlando.png"
                alt="">
            <div class="container-prod">
                <h3 id="info-produto2">Orlando</h3>
                <div class="preco-produto2">R$ 5000,00</div>
                <button class="adc-butao" onclick="selecionarprod('produto2')">Adicionar</button>
            </div>
        </div>

        <div class="prod">
            <img class="imagprod"
                src="https://www.visiteosusa.com.br/sites/default/files/styles/hero_l/public/images/hero_media_image/2017-04/7010d1e88b80578f3d4e6fc09c2a2379.jpeg?h=84c61102&itok=1hAyAqUn"
                alt="">
            <div class="container-prod">
                <h3 id="info-produto3">Nova York</h3>
                <div class="preco-produto3">R$ 4800,00</div>
                <button class="adc-butao" onclick="selecionarprod('produto3')">Adicionar</button>
            </div>
        </div>
        <div class="prod">
            <img class="imagprod"
                src="https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/panama/Panama_City_skyline_2__0f0ec1be-1bc5-41ca-8af3-a137b61e387e.jpg"
                alt="">
            <div class="container-prod">
                <h3 id="info-produto4">Panama</h3>
                <div class="preco-produto4">R$ 5500,00</div>
                <button class="adc-butao" onclick="selecionarprod('produto4')">Adicionar</button>
            </div>
        </div>
        <div class="prod">
            <img class="imagprod" src="https://einvestidor.estadao.com.br/wp-content/uploads/2024/06/adobestock-190654500_200620245628.jpeg" alt="">
            <div class="container-prod">
                <h3 id="info-produto5">Chile</h3>
                <div class="preco-produto5">R$ 3200,00</div>
                <button class="adc-butao" onclick="selecionarprod('produto5')">Adicionar</button>
            </div>
        </div>
    </section>


    <section id="sobre-nos">
        <h2>Sobre nós</h2>

        <div class="container-sobre-nos">
            <p>Facilitamos sua viagem com as melhores ofertas de passagens, pacotes e hospedagens. Simples, seguro e do jeito que você merece. Viaje bem, viaje com a gente! 🚀🌍</p>
        </div>



    </section>

    <section id="contato">
        <h2>Contato</h2>
        <form>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="assunto">Assunto:</label>
            <input type="text" id="assunto" name="assunto" required>
            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" required></textarea>
            <button id="botao-enviar" type="submit">Enviar</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Viaje Bem. Todos os direitos reservados.</p><br>
        <p>Desenvolvido por: Kevin Gabriel</p><br>
        <p>Contato: (75) 98351-2229</p>
    </footer>
    <script src="/javascripts/passar-produto.js"></script>
</body>

</html>