* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#gg {
  display: flex;
  color: #000;
}

header {
  width: 100%;
  padding: 1px 8%;
  position: sticky;
  top: 0;
  background-color: rgba(144, 182, 239, 0.87);
  z-index: 3;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_logo {
  width: 100px;
  height: auto;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item a {
  text-decoration: none;
  color: #1d1d1dad;
  font-weight: 600;
}

.nav-item.active a {
  color: rgb(0, 0, 0);
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 10px 14px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;

}

.btn-default:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

#mobile_btn {
  display: none;
}

#mobile_menu {
  display: none;
}

.butao-cont {
  list-style: none;
  text-decoration: none;


}

@media screen and (max-width: 768px) {

  #nav_list,
  #navbar .btn-default {
      display: none;
  }

  #mobile_btn {
      display: block;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      cursor: pointer;
  }

  #mobile_menu.active {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #mobile_nav_list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 12px 0px;
  }

  #mobile_nav_list .nav-item {
      list-style: none;
      text-align: center;
  }

  .butao-cont {
      list-style: none;
  }
}

#banner {
  display: flex;
  width: 80%;
  height: auto;
  margin: 100px auto;

}

#produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f4f4f4;
  padding: 50px 0;
  width: 100%;
}

#vermais {
  color: rgba(144, 182, 239, 0.87);
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 770px;
  
}

#sobre-nos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;


}

.prod {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  width: 800px;
  height: 150px;
  gap: 190px;
}

.prod .imagprod {

  width: 25%;
  height: auto;
  margin: 10px;

}

.titulo-produtos {
  display: block;

}

.container-sobre-nos {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: rgba(144, 182, 239, 0.87);
  width: 600px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}


#contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  background-color: #41464f41;
  width: 100%;

}



#toggle-banner:not(:checked)+label img {
  content: url('/images/pacote2.png');
}


#toggle-banner:checked+label img {
  content: url('/images/Pacote1.png');
}

.adc-butao {
  width: 80px;
  height: 30px;
  background-color: rgba(144, 182, 239, 0.87);
  text-decoration: none;
  border-radius: 20px;
  border: none;
  text-align: center;
}


.container-prod {
  display: flex;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container-prod h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
  color: #333;
}

.container-prod a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 5px 0;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(144, 182, 239, 0.87);
  width: 100%;
  height: 150px;

}

footer p {
  margin: 0 10px;
}

@media screen and (max-width: 768px) {

  #logo {
      width: 150px;
      height: auto;
      margin-left: -80px;
      margin-top: 15px;

  }

  .botao_cadastro {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -14px;

  }


  #produtos {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: #f4f4f4;
      padding: 50px 0;
      width: 100%;
  }

  #vermais {

      color: rgb(16, 127, 218);
      text-decoration: underline;
      cursor: pointer;
      margin-bottom: 0px;
      text-align: right;
      width: 100%;
      padding-right: 180px;

  }

  .prod {
      display: flex;

      flex-direction: column;
      justify-content: center;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 250px;
      height: 350px;
      gap: 50px;


  }



  .prod .imagprod {
      width: 150px;
      height: auto;
      margin-left: 45px;
      margin-top: 30px;
  }

  .container-prod {
      display: flex;
      flex: 1;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }

  .container-prod h3 {
      font-size: 16px;
      margin: 0 0 10px 0;
      color: #333;
  }

  .container-prod a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      display: block;
      margin: 5px 0;
  }

  .adc-butao {
      width: 80px;
      height: 30px;
      background-color: rgba(144, 182, 239, 0.87);
      text-decoration: none;
      border-radius: 20px;

      text-align: center;
  }

  #sobre-nos {
      display: flex;
      margin: auto;
      width: 90%;
  }

  .container-sobre-nos {
      display: flex;
      margin-top: 20px;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
      background-color: #59a2e25c;
      width: 300px;
      height: 190px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  }

  #contato {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 50px 0;
      background-color: #92afdd41;
      width: 100%;

  }

  #contato label {
      font-size: 20px;
  }

  #contato input {
      width: 300px;
      height: 30px;
      border-radius: 20px;
      margin: 10px 0;
      padding: 0 10px;
      font-size: 16px;
      margin: auto;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
  }

  #contato textarea {
      width: 300px;
      height: 100px;
      border-radius: 20px;
      margin: auto;
      display: flex;
  }

  #contato #botao-enviar {
      width: 100px;
      height: 30px;
      background-color: rgba(144, 182, 239, 0.87);
      border-radius: 20px;
      margin: auto;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      border: none;
  }

  .footer {
      width: 100%;
      position: relative;

  }

  #sobre-nos {
      display: flex;



  }

  .container-sobre-nos {
      width: 100%;
      height: 100%;
      font-size: 15px;
  }

}